IDENTITY_ACCESS_API_BASE_URL=http://127.0.0.1:5080
IDENTITY_ACCESS_IDENTITY_SCOPE_ID=00000000-0000-0000-0000-000000000001
IDENTITY_ACCESS_APPLICATION_KEY=admin-web
IDENTITY_ACCESS_BEARER_COOKIE_NAME=identity_access_bearer
IDENTITY_ACCESS_TENANT_ID=00000000-0000-0000-0000-000000000002
IDENTITY_ACCESS_OIDC_CLIENT_ID=admin-web
IDENTITY_ACCESS_OIDC_REDIRECT_URI=http://127.0.0.1:3000/auth/callback
